{% extends "home/base.html" %}
{% block home-active %}active{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <div style="display: inline;">
                <span class="display-3">Hey There!</span>
            </div>
            <p class="lead">Join activities</p>

        </header>
        <p>Activities posted: {{ n_activities }}</p>
        <p>Users registered: {{ n_users }}</p>
        <p>Top categories:
            {% for top_category in top_categories %}
                <p class="ml-5">{{ top_category.name }} - {{ top_category.count }} activities </p>
            {% endfor %}
        </p>
        <p>Trending categories (last 7 days):
            {% for trending_category in trending_categories %}
                <p class="ml-5">{{ trending_category.name }} - {{ trending_category.count }} activities </p>
            {% endfor %}
        </p>
        <p>Activities posted last 30 days: {{ n_month_activities }}</p>
    </div>
{% endblock %}
