{% extends "home/base.html" %}
{% block home-active %}active{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <div style="display: inline;">
                <span class="display-3">Hey There!</span>
            </div>
            <p class="lead">Join activities</p>

        </header>
        <div class="row text-center">
            {% for post in posts %}

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" height=150 src="{{ post.intro_image }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text">{{ post.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'home-post-detail' post.id %}" class="btn btn-primary">Full Post</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
