{% extends "home/base.html" %}
{% block home-active %}active{% endblock %}
{% block body %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <div style="display: inline;">
        <span class="display-3">{{ post.title }}</span>
          <img class="card-img-top" height=150 src="{{ post.intro_image }}" alt="">
    </div>
    <p class="lead">{{ post.description }}</p>
      
    </header>
    <div class="row text-center">
        {{  post.content }}
    </div>

    </div>
  </div>
{% endblock %}
