{% extends "home/base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block profile-active %}active{% endblock %}

{% block custom_sources %}
	<link rel="stylesheet" href="{% static "album/css/index.css" %}" >
	<link rel="stylesheet" href="{% static "album/js/index.js" %}" >
{% endblock %}
{% block body %}

<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
        <p>{{ user_profile.date_of_birth }}</p>
        <p>{{ user_profile.get_gender_display }}</p>
        <p>{{ user_profile.phone_number }}</p>
        <p>{{ user_profile.user }}</p>

        {#    LOGOUT #}
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button type="submit">Sign Out</button>
        </form>
    </div>
  </div>

</main>
{% endblock %}
