{% extends "activities/base.html" %}
{% block activities-active %}active{% endblock %}

{% block body %}

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <h1>
                    {% if object.participants.count >= object.max_n_participants %}
                        Activity is full !!!
                        {% if user in object.participants.all %}
                            But you got your spot!!
                        {% endif %}
                    {% endif %}

                </h1>
                <h1>{{ object.category }} - {{ object.creator.email }} - {{ object.title }}</h1>
                <h2>{{ object.description }}</h2><br><br>

                <p>{{ object.time_of_event }} - {{ object.location }}</p>
                <p>{{ object.participants.count }}/{{ object.max_n_participants }}</p>

                <p>{% if object.creator.email == user.email %}
                    <a href="{% url 'activities-edit-detail' object.category object.id %}">Edit</a>
                {% endif %}</p>
                {% if object.participants.count < object.max_n_participants and user not in object.participants.all %}
                    <form class="pointer" method="post"
                          action="{% url 'activities-edit-detail' object.category object.id %}">
                        {% csrf_token %}
                        <a class="dropdown-item" onclick="this.parentNode.submit()">Join</a>
                        <input type="hidden" name="action" value="join">
                    </form>
                {% elif user in object.participants.all %}
                    <form class="pointer" method="post"
                          action="{% url 'activities-edit-detail' object.category object.id %}">
                        {% csrf_token %}
                        <a class="dropdown-item" onclick="this.parentNode.submit()">Un-join</a>
                        <input type="hidden" name="action" value="unjoin">
                    </form>
                {% endif %}


            </div>
        </div>

    </main>
{% endblock %}
