{% extends "activities/base.html" %}
{% block activities-active %}active{% endblock %}

{% block body %}
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <h1>
                    {% if object.participants.count >= object.max_n_participants %}
                        Activity is full !!!
                        {% if user in object.participants.all %}
                            But you got your spot!!
                        {% endif %}
                    {% endif %}

                </h1>
                <h1>{{ object.category }} - {{ object.creator.email }} - {{ object.title }}</h1>
                <h2>{{ object.description }}</h2><br><br>

                <p>{{ object.time_of_event }} - {{ object.location }}</p>
                <p>{{ object.participants.count }}/{{ object.max_n_participants }}
                    {% if object.participants.count == object.max_n_participants and object.waiting_list_enabled %}
                        ({{ object.waiting_list.count }})
                    {% endif %}
                </p>


                {# EDIT ACTIVITY #}
                {% if not activity.is_past %}
                    <p>{% if object.creator.email == user.email %}
                        <a href="{% url 'activities-edit-detail' object.category object.id %}">Edit</a>
                    {% endif %}</p>
                {% endif %}


                {# Handle action user can take #}
                {% if not activity.is_past %}
                    {% if user in object.participants.all %}
                        <form class="pointer" method="post"
                              action="{% url 'activities-edit-detail' object.category object.id %}">
                            {% csrf_token %}
                            <button onclick="this.parentNode.submit()">Un-join</button>
                            <input type="hidden" name="action" value="unjoin">
                        </form>
                    {% elif object.participants.count < object.max_n_participants and user.is_authenticated %}
                        <form class="pointer" method="post"
                              action="{% url 'activities-edit-detail' object.category object.id %}">
                            {% csrf_token %}
                            <button onclick="this.parentNode.submit()">Join</button>
                            <input type="hidden" name="action" value="join">
                        </form>
                    {% elif not user.is_authenticated %}
                        <a class="nav-link" href="{% url 'account_login' %}">Join</a>

                    {% elif activity.waiting_list_enabled and user not in object.waiting_list.all %}
                        <form class="pointer" method="post"
                              action="{% url 'activities-edit-detail' object.category object.id %}">
                            {% csrf_token %}
                            <button onclick="this.parentNode.submit()">Join waiting list</button>
                            <input type="hidden" name="action" value="join-waiting-list">
                        </form>

                    {% elif activity.waiting_list_enabled and user in object.waiting_list.all %}
                        <form class="pointer" method="post"
                              action="{% url 'activities-edit-detail' object.category object.id %}">
                            {% csrf_token %}
                            <button onclick="this.parentNode.submit()">Un-join waiting list</button>
                            <input type="hidden" name="action" value="unjoin-waiting-list">
                        </form>
                    {% endif %}

                    {# If it is a past activity #}
                {% else %}
                    <p>Activity score: {{ activity.score }}</p>
                    {% if user in object.participants.all and user.pk not in voters %}
                        <p>Evaluate activity</p>
                        <form method="post" action="{% url 'activities-edit-detail' object.category object.id %}">
                            {% csrf_token %}
                            <select class="form-select" aria-label="Default select example" name="score">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <input type="submit" value="Submit">
                            <input type="hidden" name="action" value="vote">
                        </form>
                    {% endif %}
                {% endif %}


                {# DISPLAY CURRENT USERS 🙂 #}
                {% for profile in profiles %}
                    <a href="{% url 'users-external-profile' profile.pk %}">
                        <div>
                            <p>{{ profile.user.email }} - {{ profile.date_of_birth }}</p>
                            <img src="{{ profile.profile_picture.url }}" alt="">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
