{% extends "activities/base.html" %}
{% block activities-active %}active{% endblock %}

{% block body %}

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="list-group">
                    {% for activity in object_list %}
                        <a href="{% url 'activities-detail' activity.category activity.id %}"
                           class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between align-middle align-items-center">
                                <h5 class="mb-1">List group item heading</h5>
                                <span class="badge badge-primary badge-pill align-middle">{{ activity }}</span>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                            <small>And some small print.</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
