{% extends "activities/base.html" %}

{% block body %}

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {{ object.category }} - @{{ object.creator.email }}@ - @{{ user.email }}@ - {{ object.title }}
                    - {{ object.description }} -
                    {{ object.created_on }} -
                    {{ object.location }} -
                    {{ object.min_n_participants }}/{{ object.max_n_participants }} -
                    {{ object.time_of_event }} - {{ object.id }} -
                    {% if object.creator.email == user.email %}
                        <a href="{% url 'activities-edit-detail' object.category object.id %}">Edit</a>
                    {% endif %}

                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Update">
                    </form>


                </div>
            </div>
        </div>

    </main>
{% endblock %}
